html,
button,
input,
select,
textarea {
    color: #3B447C;
}

html {
    font-size: 1em;
    line-height: 1.4em;
}

::-moz-selection {
    background: #897EE6;
    text-shadow: none;
}

::selection {
    background: #897EE6;
    text-shadow: none;
}

body {
	color: #3B447C;
	background: url(../assets/bg-illu.svg) bottom -100px right -100px no-repeat fixed, linear-gradient(45deg, white 0%, #F7F8FC 100%) fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	margin: auto 0;
}

a {
	color: #897EE6;
}

strong {
	font-weight: 600;
}

.wrapper {
    width: 60%;
	height: 70%;
    margin: auto 12%;
	position: absolute;
	top: 0;
	bottom: 0;
}

h1 {
	margin: 0;
	margin-bottom: 75px;
	
	font-size:  96px;
	font-size: 7vw;
	line-height: 1.2em;
	font-weight: 800;
	
	word-wrap: break-word;
	overflow: visible;
	
	color: #897EE6;
	/*background: linear-gradient(45deg, #897EE6 0%, #E67EC1 100%);*/
	background: linear-gradient(90deg, #2B71D9 0%, #8E81FF 50%, #D4B3FF 100%);
	background-clip: text;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  
	  /*transition: font-size 0.2s ease-out 0s;*/
}

.faceyboi {
	position: absolute;
	top: 7.4vw;
	left: -7vw;
	width: 3.8vw;
	height: 3.8vw;
	
	content: url(../assets/faceyboi.svg);
}

h2 {
	margin: 0;
	
	font: 2.25em/1.5em "SF Mono", Menlo, Inconsolata, mono;
	font-size: 3vw;
	font-weight: normal;
	color: #BBBFDB;
	
	/*transition: font-size 0.2s ease-out 0s;*/
}

h2 a {
	text-decoration: none;
	color: inherit;
	
	transition: all 0.2s ease-out 0s;
}
h2 a:hover {
	text-decoration: underline;
	color: #897EE6;
}

p {
	max-width: 600px;
	
	font-size: 1em;
	line-height: 2em;
}

ul.social {
	margin-top: 150px;
	padding: 0;
	font-size: 0;
}

ul.social li {
	display: inline-block;
	width: 4vw;
	height: 4vw;
	min-height: 44px;
	min-width: 44px;
	max-height: 72px;
	max-width: 72px;
	border-radius: 36px;
	margin: 0 20px 20px 0;
	
	transition: all 0.2s ease-out 0s;
}
ul.social li:hover {
	transform: scale(1.1);
}

li.tasklogue {
	background: url(../assets/Tasklogue.svg) no-repeat center rgba(136, 125, 230, 0.1);
}
li.tasklogue:hover {
	background: url(../assets/Tasklogue.svg) no-repeat center rgba(136, 125, 230, 0.2);
}

li.email {
	background: url(../assets/Email.svg) no-repeat center rgba(230, 125, 193, 0.1);
}
li.email:hover {
	background: url(../assets/Email.svg) no-repeat center rgba(230, 125, 193, 0.2);
}

li.dribbble {
	background: url(../assets/Dribbbble.svg) no-repeat center rgba(234, 75, 136, 0.1);
}
li.dribbble:hover {
	background: url(../assets/Dribbbble.svg) no-repeat center rgba(234, 75, 136, 0.2);
}

li.instagram {
	background:  url(../assets/Instagram.svg) no-repeat center, linear-gradient(45deg, rgba(188, 97, 218, 0.1) 0%, rgba(87, 125, 255, 0.1) 100%);
}
li.instagram:hover {
	background:  url(../assets/Instagram.svg) no-repeat center, linear-gradient(45deg, rgba(188, 97, 218, 0.2) 0%, rgba(87, 125, 255, 0.2) 100%);
}

li.twitter {
	background: url(../assets/Twitter.svg) no-repeat center rgba(29, 160, 242, 0.1);
}
li.twitter:hover {
	background: url(../assets/Twitter.svg) no-repeat center rgba(29, 160, 242, 0.2);
}